html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 520px;
  min-height: 270px;
  padding: 20px;

  font-size: 14px;
  line-height: 1.5;
  font-family: "Arial", sans-serif;
  color: white;

  background-color: #3a78a1;
  background-image: url("grid.png");
  background-repeat: repeat;
  background-position: -80px -80px;
}

input[type="text"] {
  height: 38px;

  font-size: 18px;
  font-family: inherit;

  border: 2px solid #cccccc;
  border-radius: 5px;
  
  padding-left: 10px;
  
  box-sizing: border-box;
}

.block {
  background-color: rgba(0, 255, 255, 0.2);
}

.block1 {
  border: 2px solid white;
  
}

.block2 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 18px;
  margin-right: 18px;
  margin-bottom: 18px;
  margin-left: 18px;
}