body {
  width: 550px;
  margin: 0;
  padding: 0 10px;

  font-family: "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

code {
  padding: 2px 5px;
  background-color: #e6e6e6;
  border: 1px solid #707070;
  border-radius: 4px;
  color: #09081d;
  font-family: "Courier New", "Courier", monospace;
}

.important {
  color: red;
}
